* {margin: 0 0 0 0;}
.background{
    background-color: #6da7bb;
    position: relative;
    z-index: -1;
    background: url(../image/wall.jpg) no-repeat;
}
.logo{
    transition:1s;
    height: 80px;
    width:140px;
    
    border:none;
    outline:none;
    background:url(../image/welcome.svg) no-repeat center center
}
.logo:hover{
    background-color:rgb(252, 250, 244);
}
.home{
    height: 80px;
    width:125px;
    
    border:none;
    outline:none;
    transition: 1s ease-out;
    background:url(../image/home.svg) no-repeat center center;
}
.home:hover{
    /* background-color: rgb(252, 250, 244); */
    background-color:rgb(252, 250, 244);
}
.message{
    height:80px;
    width:125px;
    margin:0;
    border:none;
    outline:none;
    transition: 1s;
    background: url(../image/message.svg) no-repeat center center;
}
.message:hover{
    background-color: rgb(252, 250, 244);
}
.open{
    
    border:none;
    height:30px;
    width:30px;
    margin: 20px auto 20px 38px;
    background:url(../image/list.svg);
}



.list{
    z-index: 99;
    position: fixed;
    background-color: rgba(174, 185, 197, 0.781);
    height: 80px;
    width: 100%;
    font-size: 0;
}
.welcome{
    position: relative;
    height: 800px;
    width:950px;
    
}
.slogan1{
    user-select: none;
    padding-left:150px;
    padding-top:60px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:200px;
    color:azure
}
.slogan2{
    padding-left:250px;
    user-select: none;
    font-size: 50px;
    font-family: STXinwei;
    color: linen;
    
}
.info:hover{
    transform: scale(1.3,1.3);
    cursor: pointer;
}

.sidebar{
    height: 100px;
}
.person{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border:none;
    display: block;
    background: url(../image/person.svg) no-repeat center center;
}
.game{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border:none;
    display: block;
    background: url(../image/game.svg) no-repeat center center;
    cursor:pointer;
}
.movie{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border:none;
    display: block;
    background: url(../image/movie.svg) no-repeat center center;
    cursor:pointer;
}
.music{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border:none;
    display: block;
    background: url(../image/music.svg) no-repeat center center;
    cursor:pointer;
}
.back{
    height:80px;
    width:80px;
    margin:0 auto;
    border: none;
    background:url(../image/back.svg) no-repeat center center;
    cursor:pointer;
}
.fullscreen{
    height:250px;
    width:80px;
    margin: 0 auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    
}
.fullscreen button{
    margin: 0 auto;
    height:30px;
    width:30px;
    left: 50px;
    border: none;
    background:url(../image/fullscreen.svg) no-repeat center center;
    cursor:pointer;
}

.sidenav {
    opacity:0.5;
    height: 100%;
    width:0; /*原始宽度为0*/
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: antiquewhite;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}
/* 
.sidenav:hover{
    height: 100%;
    
} */
 
/*侧边栏选项选择器*/
.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    text-align: center;
}
.sidenav p{
    font-size:18px;
    color: rgb(209, 204, 198);
    display: block;
    text-align: center;
}
 
/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    right:25px;
    bottom: 25px;
    font-size: 36px;
    margin-bottom: 10px;
    
}
 
/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content1{
    height: 340px;
    border: 0;
}
.content2{
    height:1000px;
    border: 0;
    background-color: #6da7bb;
}